:root {
  --bg-color: #435649; /* Semi-transparent white for the background */
  --text-color: #000000;
  padding: 0;
  margin: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Set the background image for the whole body */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  background-color: #435649;
}
