.container {
    height: auto;
    width: 90%;
    max-width: 500px;
    border-radius: 15px;
    /* REMOVE FOR PROD */
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    margin-bottom: 5%;
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
}

.triviaChallenge {
    font-size: clamp(0.5rem, 8vw, 41.36px);
    text-decoration: underline;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgb(0, 0, 0); /* Add a subtle shadow for contrast */
}

.information {
    margin-top: -1px;
    font-size: clamp(0.5rem, 5vw, 25.85px);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgb(0, 0, 0); /* Add a subtle shadow for contrast */

}

.wordleBox {
    width: auto;
    height: 50%;
    max-height: 90%;
    align-items: center;
}

.submitChallengeBox {
    height: auto;
}