.backgroundFull {
    height: 100%;
    width: 100%;
    background-image: url(../../public/images/bg-greenSnowflakes.jpg);
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the background image */

    display: flex; /* Flexbox for centering content */
    align-items: center; /* Vertically center items */
    justify-content: center; /* Horizontally center items */
}

.container {
  background-color: rgba(0, 0, 0, 0.041); /* Use `background-color` instead of `background-image` for solid colors */
  border-radius: 15px; /* Optional: Rounded corners for aesthetics */
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for depth */
  border: 2px solid rgba(0, 0, 0, 0);
  height: 90%;
  width: 90%;
  max-width: 500px;
  text-align: center; /* Center text alignment */

  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally center items */
}

.challengeHeader {
    margin-top: 5%;
    font-size: clamp(1rem, 10vw, 51.7px);
    text-shadow:
        -2px 2px 2px #000,
        2px 2px 2px #000,
        2px -2px 2px #000,
        -2px -2px 2px #000;
    font-style: italic;
    color: #8e1b3aff;
}

.componentContainer {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: center; /* Horizontally center items */
}